body {
    font-family: Arial;
    margin: 0;
}

.header {
    text-align: center;
    background: #bd752a;
    color: white;
    font-size: 55px;
    font-family: cursive;
    font-weight: bolder;
    overflow: hidden;
    padding: 10px 5px;
}

.header .row {
    display: inline-block;
    font-size: 45px;
}

.img-circle {
    font-size: 45px;
    background-color: white;
    width: 155px;
    height: 145px;
    text-align: center;
    padding-top: 5px;
    left: 50px;
    padding-left: 35px;
    padding-bottom: 10px;
    display: inline-flex;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
    text-align: center;
}

.header h4 {
    font-size: 30px;
    text-align: center;
}

body {
    font-family: cursive;
}

table,
th,
td {
    border: 0.75px solid black;
    text-align: center;
}

table {
    width: 90%;
    font-size: 27px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    text-align: center;
}

#content {
    text-align: center;
    margin: auto;
}

.prepareBtn {
    margin-bottom: 3px;
}

tbody [rowspan],
tbody [rowspan]~th,
tbody [rowspan]~td,
tfoot {
    border-bottom: 5px solid #bd752a;
    ;
}

#barcodeDiv {
    margin: auto;
    text-align: center;
}

#btnDeliver {
    margin: auto;
    margin-top: 60px;
    text-align: center;
    background: #bd752a;
    ;
    font-size: 25px;
}

#btnGenerate {
    margin: auto;
    margin-top: 60px;
    text-align: center;
    /* background: #f38518; */
    font-size: 25px;
}

.signOut {
    /*float: right;*/
    /*margin-left: 300px;*/
    position: absolute;
    right: 30px;
    font-size: 60px;
}

.nameH {
    /*float: right;*/
    /*margin-left: 300px;*/
    position: absolute;
    right: 125px;
    top: 20px;
    font-weight: normal;
    font-size: 30px;
}

.popover-content {
    font-size: 20px;
}

#buttonP {
    margin: auto;
    /* margin-top: 60px; */
    text-align: center;
    /* background: #f38518; */
    /* font-size: 25px; */
}

button {
    width: 250px;
}